div {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: var(--zValue1);
  background: rgb(0, 0, 0, 0.5);
}
.openingOverlay {
  animation: appear 500ms linear forwards;
}
.closingOverlay {
  animation: disappear 500ms linear forwards;
}

@keyframes disappear {
  from {
    opacity: 1;
    display: block;
  }
  to {
    opacity: 0;
    display: none;
  }
}
@keyframes appear {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: block;
  }
}
