<mat-toolbar color="primary">
  <div class="toolbar-start">
    <mat-icon (click)="menuBtnClick()" class="menu-icon">{{
      menuBtn
    }}</mat-icon>
    <img
      src="../../../../../../assets/img/nccsoft_vietnam_logo.png"
      alt="ncc-logo"
      srcset=""
    />
    timesheet
  </div>
  <div class="toolbar-end">
    <mat-icon class="tool-icon">upload_file</mat-icon>
    <mat-icon class="tool-icon">description</mat-icon>
    <mat-icon class="tool-icon">more_vert</mat-icon>
  </div>
</mat-toolbar>
<div class="toolbar-placeholder"></div>
